
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h1> <%= title %> </h1>
   
    <ul>
        <% if (locals.games) {%>
        <% games.forEach(game => { %>
            <li>
                ID: <%= game.id %>, <strong>Name:</strong> <%= game.gameName %> <strong>Genre:</strong> <%= game.genre %>
            </li>
            <% }) %>
        <% } %>
    </ul>
    <a href="/add">Add a game</a>
</body>
</html>